
<header>
    <nav>
        <div class="logo">Library Management</div>
        <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/booklist">Books</a></li>
            <li><a href="#Services">Services</a></li>      
            <li><a href="#latest">Latest Collections</a></li>      
            <li><a href="#About">About</a></li>
            <li><a href="#Contact">Contact</a></li>
        </ul>
    </nav>
</header>
<main>
    <router-outlet></router-outlet>
</main>
<footer>
    <p>&copy; 2024 Library Management. All rights reserved by Aman Raj</p>
</footer>

