* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

nav ul li a:hover {
    background: #555;
    border-radius: 5px;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

.welcome-section {
    text-align: center;
    margin-bottom: 40px;
}

.welcome-section h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.books-section {
    margin-top: 40px;
   
}

.books-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

.grid-container {
    
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
    padding: 20px;
}

.grid-item {
    display: flex;
    justify-content: center;
}

.card {
    border: 1px solid gray;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    height: 150px;
    width: 100%;
    border-radius: 8px;
}

.card button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #e1e4e4;
    color: rgb(12, 12, 12);
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.card button:hover {
    background-color: #0b0b0b;
    color: wheat;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 40px;
}
 